extends ../layouts/default

mixin post(post)
	article
		.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			h2: a(href=blogurl + '/post/' + post.slug)= post.title
			.row
				.article-icons-group1.col-sm-6.col-md-6
					if post.publishedDate
						span.glyphicon.glyphicon-time 
						|  #{post._.publishedDate.format('MMMM Do, YYYY')}  
					if post.author
						span.glyphicon.glyphicon-user 
						|  by #{post.author.name.first} 
				.article-icons-group2.col-sm-6.col-md-6
					if post.categories && post.categories.length
						span.glyphicon.glyphicon-folder-open 
						| &nbsp;&nbsp;
						each cat, i in post.categories
							a(href=blogurl + '/' + cat.key)= cat.name
							if i < post.categories.length - 1
								| , 
							else
								| 
						span.glyphicon.glyphicon-bookmark 
						|  no tags

			hr

			//- TODO: Make sure brief doesn't have html and it is short and it will become real brief
			//- then we can pring first x number of words for the extended and then continue reading...
			.brief
				if post.image.exists
					img(src=post._.image.fit(160,160)).img.pull-right
				p.lead!= post.content.brief
			//- p.lead
			//- 	| #{post.content.brief}

			if post.content.extended
				//- p.read-more: a(href=blogurl + '/post/' + post.slug) Read more...
				p.text-right
					a.text-right(href=blogurl + '/post/' + post.slug) continue reading...

block intro
	//- .container
	//- 	h2= data.category ? data.category.name : 'Latest Posts'

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				h2= data.category ? data.category.name : 'Latest Posts'
				if data.posts.results.length
					if data.posts.totalPages > 1
						h5.text-weight-normal Showing 
							strong #{data.posts.first}
							|  to 
							strong #{data.posts.last}
							|  of 
							strong #{data.posts.total}
							|  posts.
					else
						h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
					.blog
						each post in data.posts.results
							+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.
		
		if data.categories.length
			.col-sm-4.col-md-3
				include ../mixins/categories-panel
